@using SewingManagment.ViewModels
@model EmployeeViewModel
@{
    ViewData["Title"] = "員工編輯頁面";
}

<form asp-action="Edit" method="post">
    <div>
        <label>姓名：</label>
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @* 表單驗證 *@ 
        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
    </div>

    <div>
        <label>性別：</label>
        @Html.DropDownListFor(m => m.Gender, (List<SelectListItem>)ViewBag.GenderList, "-- 請選擇 --", new { @class = "form-control" })
        @* 表單驗證 *@ 
        @Html.ValidationMessageFor(m => m.Gender, "", new { @class = "text-danger" })
    </div>

    <div>
        <label>年齡：</label>
        @Html.TextBoxFor(m => m.Age, new { type = "number", @class = "form-control" })
        @* 表單驗證 *@ 
        @Html.ValidationMessageFor(m => m.Age, "", new { @class = "text-danger" })
    </div>

    <div>
        <label>職務：</label>
        @Html.DropDownListFor(m => m.Position, (List<SelectListItem>)ViewBag.PositionList, "-- 請選擇 --", new { @class = "form-control" })
        @* 表單驗證 *@ 
        @Html.ValidationMessageFor(m => m.Position, "", new { @class = "text-danger" })
    </div>

    <button type="submit" class="btn btn-primary mt-2">送出</button>
</form>

